<!DOCTYPE html>
<html>
<head>
  <title>BlockChain App</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
</head>
<body class="container">
  <h1>A Simple Get Value from BlockChain with web3 and Flask</h1>

  <div class="table-responsive">
    <span style="color:red;">{{ theval }}</span><br/>
    <span>Current block height is:<b>{{ bheight }} </b></span><br/>
    <span>Block contract block timestamp:<b>{{ btstamp }}</b></span><br/>
    <span>The contract address is: <i> {{ caddr }}</i></span><br/>
    <span>Current account balance is: <b> {{ accountbal }} eth </b>
  </div>
  <form action="" method="post">
    Get value here:<input type="text" name="kval"/><br/>
    Set value here:<input type="text" name="setval"/><br/>
    <input type="submit" value="Get value for key" class="btn btn-primary"/>
  </form>
    <a href="/survey">SurveyLink</a>
</body>
</html>