<!DOCTYPE html>
<html>
<head>
  <title>Hello World DApp</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
</head>
<body class="container">
  <h1>A Simple Hello World Voting Application</h1>

  {% if alert %}
  <div class="alert alert-warning">
    {{ alert }}
  </div>
  {% endif %}

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Candidate</th>
          <th>Votes</th>
        </tr>
      </thead>
      <tbody>
        {% for candidate, votes in candidates.items() %}
        <tr>
          <td>{{ candidate }}</td>
          <td>{{ votes }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <form action="" method="post">
    <input type="text" name="candidate" />
    <input type="submit" value="Vote" class="btn btn-primary"/>
  </form>
</body>
</html>