<html>
<head>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
  <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
</head>
<body class="container">
	<h1>Survey</h1>
	<form action="" method="post">
		<h3>Gender</h3>
		<input type="radio" name="gender" value="male"> Male <br/>
		<input type="radio" name="gender" value="female"> Female <br/>
		<input type="radio" name="gender" value="other"> Other <br/>
		<hr/>
		<h3>Vehicle</h3>
		<input type="checkbox" name="vehicle" value="Bike"> I have a bike <br/>
  		<input type="checkbox" name="vehicle" value="Car"> I have a car <br/><br/>
  		<input type="submit" value="Submit" class="btn btn-primary">
  		<input type="reset" class="btn btn-warning">
	</form>
		<a href="/">Back</a><br/>
		<span style="color:red;"><b>You have {{ rrcoin }} RRcoin(s) rewards now!</b></span>
		<script src="{{ url_for('static',filename='js/app.js') }}"></script>
<body>

</html>